<footer class="footer section">
  <!-- Start Footer Section -->
  <div class="footer-area ptb-100">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <a class="footer-logo" href="#">
              <img src="./assets/img/footer-logo.png" class="white-logo" alt="logo">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <ul class="footer-quick-links">
              <li><a href="https://www.traiteur-91.fr/traiteur-orsay" target="_blank">Traiteur à Orsay</a></li>
              <li><a href="https://www.traiteur-91.fr/traiteur-gif-sur-yvette" target="_blank">Traiteur à
                  Gif-sur-Yvette</a></li>
              <li><a href="https://www.traiteur-91.fr/traiteur-massy" target="_blank">Traiteur à Massy</a></li>
              <li><a href="https://www.traiteur-91.fr/traiteur-limours" target="_blank">Traiteur à Limours</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <div class="footer-heading">
              <h3>Coordonnées :</h3>
            </div>

            <ul class="footer-quick-links">
              <li class="footer-info-contact">
                <a href="tel:{{site.data.company.phone}}">Téléphone: {{site.data.company.phone}}</a>
              </li>
              <li class="footer-info-contact">
                <a href="mailto:{{site.data.company.email}}">Email: {{site.data.company.email}}</a>
              </li>
              <li class="footer-info-contact">
                Adresse: {{site.data.company.address}}
              </li>
            </ul>


          </div>
        </div>
        <div class="col-lg-2 col-ms-6">
          <ul class="footer-social">
            <li>
              <a href="#"> <i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Section -->
</footer>

<div class="footer_bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-md-12">
        <a href="https://www.bhinternet.fr/" class="footer_bottom-a" target="_blank">
          BHInternet - Création site internet | <script>document.write(new Date().getFullYear());</script>
        </a>        
      </div>
    </div>
  </div>
</div>

</script>
<script src="./assets/js/index.js"></script>
<script src="./assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>