---
---

* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root {
  --color-primary: #69193B;
  --color-secondary: #F3D4E1;
  --font-primary: "Playfair Display", Helvetica, Arial, sans-serif;
}

*::selection {
  background-color: var(--color-primary);
  color: #fff !important;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Playfair Display", sans-serif;
  font-size: 62.5% !important; // 10px = 10px, 10px/16px = 62.5%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  line-height: 1.5;
  color: #545454;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Playfair Display', sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100%;
  background: #E4E4E4CC !important;
  // background: var(--color-secondary) !important;
  overflow-x: hidden !important;
  font-size: 1.6rem;
  // background-color: #F5F7FA !important;
}

.bg-sec-link{
  background: var(--color-secondary) !important;

  &:hover{
    transition: .2s all ease-in-out;
    background: var(--color-primary) !important;
    color: #fff !important;
    cursor: pointer;
  }
}



// .navbar-active {
//   position: fixed !important;
//   width: 100%;
//   max-width: 100%;
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
//   border: 0 !important;
//   top: 0 !important;
//   left: 0 !important;
//   transition: .2s;
//   z-index: 1000 !important;
//}

.navbar-active .Navbar_main {
  // padding-top: 0 !important;
  // padding-bottom: 0 !important;
}

.navbar-active .Navbar_nav-collapse{

  @media only screen and (max-width: 990px) {
    background-color: #fff !important;
  }
}

.modal-active {
  top: 10% !important;
}

.navbar-active {
  position: fixed !important;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  border: 0 !important;
  top: 0 !important;
  left: 0 !important;
  transition: .2s;
  z-index: 1000 !important;
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
  width: 100%;
}

.navbar-active .Navbar_main {
  border-radius: 0 !important;
  width: 100%;
  padding: 1rem 0 !important;
  background-color: #E4E4E4CC !important;
}

.navbar-active .Navbar_main-bg {
  border-radius: 0 !important;
  padding: 1rem 4rem !important;
}

.navbar-active .Navbar_nav-link {
  color: #000 !important;
}

.navbar-active .Navbar_nav-link2 {
  color: #000 !important;
}

// .navbar-active .Navbar_nav-btn {
//   color: #000 !important;
//   border-color: #000;
// }

.navbar-active .Navbar_nav-btn2 {
  color: #000 !important;
  border-color: #000
}



.modal-active {
  top: 10% !important;
}



// .Navbar {
//   background: transparent;
//   z-index: 10000 !important;
//   width: 100%;
//   max-width: 100%;
//   transition: .2s all ease-in-out;
//   padding: 10px 14rem !important;
//   position: absolute;
//   top: 0;
//   left: 0;

//   @media only screen and (max-width: 990px) {
//     padding: 20px 30px !important;
//   }

//   @media only screen and (max-width: 768px) {
//     padding: 20px 0 !important;
//   }

//   &_image {
//     width: 100%;

//     @media only screen and (max-width: 1400px) {
//       margin-right: 0 !important;
//     }

//     @media only screen and (max-width: 990px) {
//       width: auto !important;
//     }

//     &-img {
//       height: auto;
//       width: 100%;
//       max-width: 100%;
//       object-fit: cover;


//       @media only screen and (max-width: 1400px) {
//         width: auto;
//       }
//     }
//   }


//   &_toggler {
//     color: #FF7F76 !important;
//     font-family: 'Font Awesome\ 5 Free';

//     &-icon {
//       font-family: 'Font Awesome\ 5 Free';
//       font-size: 30px;
//     }
//   }

//   &_nav {
//     display: flex !important;
//     transition: all .5s fade-in;
//     padding: 15px 0 !important;

//     @media only screen and (max-width: 990px) {
//       padding: 20px 30px !important;
//     }

//     &-collapse{
//       @media only screen and (max-width: 990px) {
//         background: #FDF4F3 !important;
//       }
//     }


//     &-images{
//       margin-right: 10px;

//       &--img1{
//         padding-right: 10px;
//       }

//       &--img2{
//         width: 50px;
//         height: auto;
//       }

//       &--img3{
//         width: 140px;
//         margin-top: 10px;
//       }
//     }


//     &-item {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       margin: 0 20px;

//       @media only screen and (max-width: 1200px) {
//         margin-right: 2px !important;
//       }

//       @media only screen and (max-width: 990px) {
//         justify-content: flex-start !important;
//         align-items: flex-start !important;
//         text-align: left;
//         margin: 5px 0;
//       }
//     }

//     &-link {
//       color: #000;
//       font-style: normal;
//       font-weight: 500;
//       font-size: 16px;
//       font-family: "Inter", sans-serif;
//       text-transform: none;
//       white-space: nowrap;

//       @media only screen and (max-width: 1200px) {
//         font-size: 16px;
//       }

//       @media only screen and (max-width: 990px) {
//         width: 100%;
//         align-items: flex-start !important;
//       }

//       &:hover {
//         width: auto !important;
//         color: #FF7F76 !important;
//         text-decoration: none;
//         cursor: pointer;
//       }
//     }


//     &-btn {
//       font-size: 14px;
//       font-weight: 400;
//       color: #fff !important;
//       font-family: 'Playfair Display', sans-serif;
//       padding: 10px 20px !important;
//       background-color: #a5005d;
//       border-radius: 20px;
//       border: none;
//       font-weight: 700;
//       margin-left: 100% !important;
//       white-space: nowrap;
//       text-transform: none !important;

//       &:hover {
//         background-color: var(--color-secondary) !important;
//         color: #fff;
//         text-decoration: none;
//         transition: all .5s;
//         cursor: pointer;
//       }
//     }

//   }
// }

.navbar-toggler{
  float: right !important;
}

.to-hide-1400{

  @media only screen and (max-width: 1400px) {
    display: none !important;
  }
}

.to-flex-1400{

  @media only screen and (max-width: 1400px) {
    display: flex !important;
    justify-content: center;
    margin: 0 auto;
  }
}


.navbar-active {
  position: fixed !important;
  width: 100%;
  max-width: 100%;
  background-color: #fff !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  border: 0 !important;
  top: 0 !important;
  left: 0 !important;
  transition: 0.2s;
  z-index: 1000 !important;
}

.navbar-active .navbar_image-img {

  @media only screen and (max-width: 1200px) {
    height: 90px;
  }

  @media only screen and (max-width: 768px) {
    height: 60px;
  }

  @media only screen and (max-width: 480px) {
    height: 50px;
  }
}

.before-white{

  &::before{
    color: #fff !important;
  }
}

.Navbar_home {
  padding: 20px 0;

  @media only screen and (max-width: 990px) {
    padding: 0;
  }
}

.navbar_home-active {
  position: fixed !important;
  width: 100%;
  max-width: 100%;
  background-color: #fff !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  border: 0 !important;
  top: 0 !important;
  left: 0 !important;
  transition: 0.2s;
  z-index: 1000 !important;
}

.m-l-10{
  margin-left: 10px;

  @media only screen and (max-width: 990px) {
    margin-left: 120px;
  }

  @media only screen and (max-width: 600px) {
    display: none !important;
  }
}


.Navbar {
  background: transparent;
  z-index: 10000 !important;
  width: 100%;
  max-width: 100%;
  transition: .2s all ease-in-out;
  padding: 10px 0 !important;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;

  &_main{
    padding: 0px 10rem !important;

    @media only screen and (max-width: 1400px) {
      padding: 0 4rem !important;
    }

    @media only screen and (max-width: 990px) {
      padding: 0 !important;
    }

    &-bg{
      background: #E4E4E4CC;
      border-radius: 6.4rem;
      padding: 0px 4rem !important;

      @media only screen and (max-width: 990px) {
        background-color: #E4E4E4CC;
        border-radius: 0;
        padding: 0px 1rem !important;
      }
    }
  }

  // @media only screen and (max-width: 990px) {
  //   padding: 20px 30px !important;
  // }

  // @media only screen and (max-width: 768px) {
  //   padding: 20px 0 !important;
  // }

  &_image {
    width: 16.8rem;

    @media only screen and (max-width: 768px) {
      width: none;
      margin-left: .5rem;
      margin-top: .5rem;
      margin-bottom: -1rem;
    }

    &-img {
      height: auto;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &_toggler {
    //background-color: #fff !important;
    color: var(--color-primary) !important;
    font-family: 'Font Awesome\ 5 Free';

    &-icon {
      font-family: 'Font Awesome\ 5 Free';
      font-size: 30px;
    }
  }

  &_nav {
    display: flex !important;
    justify-content: flex-end;
    transition: all .5s fade-in;


    &-collapse{
      @media only screen and (max-width: 990px) {
        background: #E4E4E4CC !important;
        margin-top: 2rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: .5rem 2rem;

      @media only screen and (max-width: 1200px) {
        margin-right: 2px !important;
      }

      @media only screen and (max-width: 990px) {
        justify-content: flex-start !important;
        align-items: flex-start !important;
        text-align: left;
        margin: 5px 0;
      }
    }

    &-link {
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;
      text-align: left;
      color: #69193B;
      text-transform: none !important;
      white-space: nowrap;

      @media only screen and (max-width: 990px) {
        color: var(--color-primary) !important;
        padding-left: 1rem !important;
      }

      &:hover {
        transition: .2s all ease-in-out;
        text-decoration: none;
        color: #69193B;
        border-bottom: .2rem solid var(--color-primary);
        cursor: pointer;
      }
    }

    &-btn {
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 25.6px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #FFFFFF;
      background-color: var(--color-primary);
      padding: .3rem 2.2rem !important;
      text-transform: none !important;
      white-space: nowrap;
      border-radius: 6.4rem;
      border: .1rem solid var(--color-primary);
      

      @media only screen and (max-width: 1400px) {
        margin-left: 0 !important;
        white-space: normal;
      }

      @media only screen and (max-width: 990px) {
        margin-left: 1rem !important;
      }

      &:hover {
        background-color: #E4E4E4CC;
        border: .1rem solid var(--color-primary);
        color: var(--color-primary);
        text-decoration: none;
        transition: all .3s;
        cursor: pointer;
      }
    }
  }
}


.to-between{
  justify-content: space-between !important;

  @media only screen and (max-width: 990px) {
    justify-content: space-between !important;
  }
}

.to-hide-1400{

  @media only screen and (max-width: 1400px) {
    display: none !important;
  }
}

.slider {
  position: relative;
  z-index: 1;
  background-image: url('../img/slider.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;

  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
  }
  
  @media only screen and (max-width: 990px) {
    height: 100%;
    background-position: center;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 9%, transparent 40%);
  //   z-index: -1;
  //   transition: 0.5s;
  // }

  &_content {
    position: relative;
    padding: 37rem 14rem;
    z-index: 100 !important;

    @media only screen and (max-width: 1400px) {
      padding: 27rem 7rem;
    }

    @media only screen and (max-width: 990px) {
      width: 100%;
      margin: 0 auto;
    }

    @media only screen and (max-width: 480px) {
      padding-bottom: 70px;
      width: 90%;
      margin: 0 auto;
    }


    &-title {
      font-family: "Playfair Display", sans-serif;
      font-size: 4.2rem;
      font-weight: 900;
      line-height: 1.7;
      letter-spacing: -0.01em;
      text-align: left;
      color: #fff;

      @media only screen and (max-width: 990px) {
        font-size: 3rem;
        text-align: center;
      }

      @media only screen and (max-width: 768px) {
       font-size: 2.5;
      }
    }
  }
}


.banner{
    position: relative;
    z-index: 1;
    background-image: url('../img/banner.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    &::before{
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }

    &-2{
      position: relative;
      z-index: 1;
      background-image: url('../img/banner-2.jpeg');
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
  
      &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
      }
    }
}

.menu{
  position: relative;

  &_card3{
    width: 100%;
    height: 55.0rem;
    padding: 2.8rem;
    border-radius: 3rem;
    background-color: var(--color-primary);

    @media only screen and (max-width: 1800px) {
      height: 60rem;
    }

    @media only screen and (max-width: 1440px) {
      height: 70rem;
    }


    @media only screen and (max-width: 1240px) {
      height: 100%;
    }

    @media only screen and (max-width: 990px) {
      margin: 1rem 0;
    }
  }

  &_card2{
    width: 100%;
    height: 41.6rem;
    padding: 2.8rem;
    border-radius: 3rem;
    background-color: var(--color-primary);

    @media only screen and (max-width: 1800px) {
      height: 100%;
     }
  }

  &_card{
    width: 100%;
      padding: 2.8rem;
      border-radius: 4rem;
      background-color: var(--color-primary);
      height: 100% !important;

      @media only screen and (max-width: 990px) {
        margin-top: 2rem;
      }

    &-content{

      &--title{
        font-family: "Libre Baskerville", sans-serif;
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 25.2px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;  
        color: #fff; 
        margin-bottom: 2rem;     
      }

      &--ul{
        margin-left: 5rem;
        margin-top: 3rem;
      }

      &--li{
        font-family: "Open Sans", sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;   
        color: #fff;     
      }

    }
  }

  &_header{
    padding: 7rem 0;
    padding-bottom: 9rem;

    &-contact{
      position: relative;
      margin-top: 7rem;

      @media only screen and (max-width: 1200px) {
        margin-top: 0;
        margin-bottom: 4rem;
      }

      &--card1{
        padding-top: 2rem;
        width: 40.1rem;
        height: 27.2rem;
        background-color: var(--color-primary);
        position: relative;

        @media only screen and (max-width: 990px) {
            width: 100%;
         }
      }

      &--card2{
        position: absolute;
        top: 10rem;
        right: -10rem;
        width: 100%;
        height: 27.2rem;
        border-radius: 2rem;
        background-color: #A97F90;
        padding: 4rem;

        @media only screen and (max-width: 1800px) {
          height: 30rem;
         }

         @media only screen and (max-width: 1200px) {
          height: 32rem;
          width: 100%;
          max-width: 100%;
         }

         @media only screen and (max-width: 990px) {
          right: 0;
         }
      }
    }

    &-title{
      font-family: "Playfair Display", sans-serif;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.7;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-primary);
      text-align: center;
    }

    &-title2{
      font-family: "Playfair Display", sans-serif;
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 1.7;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-primary);
      text-align: center;
    }
  }

  &_content{

    &-title{
      font-family: "Playfair Display", sans-serif;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.7;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-primary);
      text-align: left;
      margin-bottom: 3rem;
    }

    &-p{
      font-family:" Open Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 21.6px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
      width: 90%;
    }

    &-link{
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 25.6px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #FFFFFF;
      background-color: var(--color-primary);
      padding: .5rem 2.2rem !important;
      text-transform: none !important;
      white-space: nowrap;
      border-radius: 6.4rem;
      border: .1rem solid var(--color-primary);
      margin-top: 1rem;
      

      @media only screen and (max-width: 1400px) {
        margin-left: 0 !important;
        white-space: normal;
      }

      @media only screen and (max-width: 990px) {
        margin-left: 1rem !important;
      }

      &:hover {
        background-color: transparent;
        border: .1rem solid var(--color-primary);
        color: var(--color-primary);
        text-decoration: none;
        transition: all .3s;
        cursor: pointer;
      }
    }
  }

  &_image{
    position: relative;

    &-img{
      width: 46.1rem;
      max-width: 100%;
      height: 45.6rem;
      object-fit: cover;
      z-index: 2;
      position: relative;

      @media only screen and (max-width: 1400px) {
        width: 100%;
        height: auto;
      }
    }

    &-primbg{
      position: absolute;
      top: -3rem;
      right: 0;
      width: 36.3rem;
      height: 39.2rem;
      background-color: var(--color-primary);
      z-index: 0;

      @media only screen and (max-width: 990px) {
        top: 3rem;
      }
    }

    &-primbg2{
      position: absolute;
      top: 23rem;
      right: -19rem;
      width: 22.1rem;
      height: 37.0rem;
      background-color: var(--color-primary);
      z-index: -1 !important;
    }

    &-primbg3{
      position: absolute;
      bottom: -10rem;
      right: -2.5rem;
      width: 32.1rem;
      height: 28.0rem;
      background-color: #F3D4E1;
      z-index: -1 !important;
    }

    &-abs2{
      position: absolute;
      right: 35rem;
      bottom: -20rem;
      z-index: -2;

      @media only screen and (max-width: 990px) {
        bottom: 0;
        right: 0;
      }

      &--img{
        width: 100%;
        height: 44.3rem;  
        z-index: 10000;
        object-fit: conver;
        transform: rotate(60deg);

        @media only screen and (max-width: 990px) {
          height: auto;
        }
      }
    }


    &-abs3{
      position: absolute;
      right: 1rem;
      bottom: -5rem;

      @media only screen and (max-width: 1200px) {
        display: none;;
       }

      &--img{
        width: 60rem;
        height: auto;  
        z-index: 10000;
        object-fit: conver;
        transform: rotate(107deg);
        opacity: 0.7;
      }
    }

    &-abs{
      position: absolute;
      right: 15rem;
      bottom: 0;

      @media only screen and (max-width: 990px) {
        display: none;
      }

      &--img{
        width: 100%;
        height: 34.8rem;  
        z-index: 10000;
        object-fit: conver;
        transform: rotate(90deg);
      }
    }
  }

  &_images3{
    max-width: 100%;
    position: relative;
    margin-top: 18rem;

    @media only screen and (max-width: 990px) {
      margin-top: 0;
     }
  }

  &_images2{
    background-color: var(--color-primary);
    width: 60%;
    height: 39.2rem;
    max-width: 100%;
    position: relative;
  }

  &_images{
    background-color: var(--color-primary);
    width: 90%;
    height: 51.2rem;
    max-width: 100%;
    position: relative;

    &-1{
      position: absolute;
      top: 4rem;
      left: -3rem;

      @media only screen and (max-width: 990px) {
       left: 0;
      }


      &--img{
        width: 36.7rem;
        max-width: 100%;
        height: 30.4rem;
        object-fit: cover;
      }
    }

    &-2{
      position: absolute;
      bottom: -6rem;
      left: 8rem;
      z-index: 10;
      
      &--img{
        width: 30.9rem;
        max-width: 100%;
        height: 30.8rem;
        object-fit: cover;
        border: 1rem solid #F3D4E1
      }
    }

    &-3{
      position: absolute;
      top: -4rem;
      right: 0rem;
      z-index: 1;

      &--img{
        width: 29.6rem;
        max-width: 100%;
        height: 48.4rem;;
        border-radius: 10rem 10rem 0px 0px;
        object-fit: cover;
        border: 1rem solid #F3D4E1
      }
    }

    &-4{
      position: absolute;
      bottom: -7rem;
      right: -4rem;
      z-index: 20;

      @media only screen and (max-width: 990px) {
        right: 0;
       }

      &--img{
        width: 21.0rem;
        max-width: 100%;
        height: 21.1rem;
        border-radius: 50%;
        border: 1rem solid #F3D4E1;
        object-fit: cover;
      }
    }

    &-5{
      position: absolute;
      top: 0;
      right: -2.7rem;
      z-index: 10;
      position: relative;
      display: block;

      @media only screen and (max-width: 990px) {
        right: 0;
       }

      &--img{
        width: 42.1rem;
        max-width: 100%;
        height: 39.2rem;
        object-fit: cover;
        transform: scaleX(-1);
      }
    }

    &-6{
      position: absolute;
      bottom: -50%;
      right: -17rem;
      z-index: 20 !important;

      @media only screen and (max-width: 990px) {
        right: 0;
       }

      &--img{
        width: 25.1rem;
        max-width: 100%;
        height: 34.3rem;
        object-fit: cover;
        border-radius: 16rem 16rem 0px 0px;
        border: 1rem solid #EAE4E4;
        z-index: 20 !important;
        position: relative;
      }
    }


    &-7{
      position: absolute;
      bottom: -65%;
      left: -10rem;
      z-index: 20 !important;

      @media only screen and (max-width: 1700px) {
        left: 0;
       }

       @media only screen and (max-width: 990px) {
        position: relative;
        bottom: 0;
        margin-bottom: 2rem;
       }

      &--img{
        width: 40.6rem;
        max-width: 100%;
        height: 31.6rem;
        object-fit: cover;
        z-index: 20 !important;
        position: relative;

        @media only screen and (max-width: 990px) {
          width: 100%;
          height: auto;
         }
      }
    }

    &-8{
      position: absolute;
      top: -54%;
      right: 0rem;
      z-index: 20 !important;

      @media only screen and (max-width: 990px) {
        position: relative;
        top: 0;
       }

      &--img{
        width: 40.7rem;
        height: 26.9rem;
        border-radius: 12rem 12rem 12rem 0px;      
        object-fit: cover;
        z-index: 10 !important;
        position: relative;

        @media only screen and (max-width: 990px) {
          width: 100%;
          height: auto;
          border-radius: 0;
          margin-bottom: 4rem;
         }
      }
    }
    
    &-9{
      position: absolute;
      bottom: -50%;
      left: -10rem;
      z-index: 25 !important;

      @media only screen and (max-width: 1300px) {
        left: 0;
     }


     @media only screen and (max-width: 990px) {
      left: 0;
      position: relative;
      top: 0;
      bottom: 0;
     }

      &--img{
        width: 40.6rem;
        max-width: 100%;
        height: 31.6rem;
        object-fit: cover;
        z-index: 20 !important;
        position: relative;
        border: 1rem solid #EAE4E4;

        @media only screen and (max-width: 990px) {
          width: 100%;
          height: auto;
         }
      }
    }

    &-10{
      position: absolute;
      top: -70%;
      right: 7rem;
      z-index: 20 !important;

      @media only screen and (max-width: 990px) {
        right: 0;
        position: relative;
        top: 0;
       }

      &--img{
        width: 22.6rem;
        height: 33.9rem;
        border-radius: 2rem;    
        object-fit: cover;
        z-index: 10 !important;
        position: relative;

        @media only screen and (max-width: 990px) {
          width: 100%;
          height: auto;
         }
      }
    }

    &-bg1{
      width: 40.1rem;
      height: 25.7rem;
      background: #A97F90;
      position: absolute;
      top: 25%;
      left: -5rem;
      z-index: 9;
      display: block;

      @media only screen and (max-width: 1300px) {
        left: 0;
       }

       @media only screen and (max-width: 990px) {
        display: none;
       }
    }

    &-bg2{
      width: 40.1rem;
      height: 27.2rem;
      background: var(--color-primary);
      position: relative;
      z-index: -1;

      @media only screen and (max-width: 990px) {
        display: none;
       }
    }

    &-bg3{
      width: 37.8rem;
      height: 23.6rem;
      background: #A97F90;
      position: absolute;
      top: -10rem;
      left: -5rem;
      z-index: 9;
      display: block;
      border-radius: 2rem;

      @media only screen and (max-width: 990px) {
        display: none;
       }
    }

    &-bg4{
      width: 37.8rem;
      height: 23.6rem;
      background: var(--color-primary);
      position: relative;
      z-index: -1;
      border-radius: 2rem;

      @media only screen and (max-width: 990px) {
        display: none;
       }
    }

   }

  &_faq{
    z-index: 100;


    &-bars2{
      z-index: 100 !important;

      @media only screen and (max-width: 990px) {
        margin-top: 20rem;
      }
    }


    &-bars{
      z-index: 100 !important;

      @media only screen and (max-width: 990px) {
        margin-top: 10rem;
      }
    }

    &-bg{
      background: #F3D4E1;
      width: 32.1rem;
      height: 28.0rem;
      position: absolute;
      top: -3rem;
      right: 1rem;
      z-index: -1 !important;
    }

    &-title{
      font-family: "Playfair Display", sans-serif;
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 1.5;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #69193B;
    }

    &-p{
      font-family: "Playfair Display", sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.3;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #69193B;
    }

    &-hr{
      height: .2rem;
      border: none !important;
      color: var(--color-primary) !important;
      background: var(--color-primary) !important;
      border-color: .1rem solid var(--color-primary) !important;
      width: 100%;
    }
  }
}

.bg-prim{
  background: #F3D4E1 !important;
}


.faq-item h3 {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    text-align: center !important;
    justify-content: center;
  }
}
.faq-icon {
  font-size: 1.2em;
  margin-left: 8px;
  float: right;
}

.extra-margin{
  margin-top: 15.5rem;
}

.extra-margin-bottom{
  margin-bottom: 8rem;
}


.carte{
  background: #DFD5D5;

  &_header{

    &-title{
      font-family: "Libre Baskerville", sans-serif;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 44.64px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-primary);
    }
  }

  &_image{

    &-img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}


.section {
  font-family: 'Open Sans', sans-serif;
  padding: 7rem 22rem;

  @media only screen and (min-width: 2200px) {
    padding: 7rem .5rem;
  }

  @media only screen and (max-width: 1800px) {
    padding: 7rem 22rem;
  }


  @media only screen and (max-width: 1600px) {
    padding: 7rem 14rem;
  }


  @media only screen and (max-width: 1400px) {
    padding: 5rem 10rem;
  }

  @media only screen and (max-width: 1100px) {
    padding: 5rem 7rem;
  }

  @media only screen and (max-width: 1000px) {
    padding: 5rem 0;
  }

  @media only screen and (max-width: 990px) {
    padding: 5rem 2rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 5rem 0rem;
  }
}

.section-x {
  font-family: 'Open Sans', sans-serif;
  padding: 7rem 17rem;

  @media only screen and (min-width: 2200px) {
    padding: 7rem .5rem;
  }

  @media only screen and (max-width: 1800px) {
    padding: 7rem 14rem;
  }


  @media only screen and (max-width: 1600px) {
    padding: 7rem 10rem;
  }


  @media only screen and (max-width: 1200px) {
    padding: 5rem 10rem;
  }

  @media only screen and (max-width: 1100px) {
    padding: 5rem 7rem;
  }

  @media only screen and (max-width: 1000px) {
    padding: 5rem 0;
  }

  @media only screen and (max-width: 990px) {
    padding: 5rem 2rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 5rem 0rem;
  }
}

.link{
  color: #fff;

  &:hover{
    text-decoration: none;
    color: var(--color-primary);
    transition: .2s all ease-in-out;
    cursor: pointer;
  }
}


/* Default styling for all items */
.owl-carousel .owl-item {
  position: relative;
  transition: all 0.3s ease; /* Smooth transition */
  opacity: 0.5; /* Slightly dim non-active items */
}

/* Remove blur and opacity for the active (center) item */
.owl-carousel .owl-item.active {
  filter: blur(0); /* No blur for the active item */
  opacity: 1; /* Fully visible */
  z-index: 2; /* Ensure it stays on top */
}

/* Apply partial blur to the next and previous items */
.owl-carousel .owl-item:not(.active)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20%; /* Start at the middle of the item */
  width: 20%; /* Cover half of the item */
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* Optional: Overlay for dim effect */
  filter: blur(5px); /* Apply blur */
  z-index: 1; /* Ensure it's above the item but below the active item */
  pointer-events: none; /* Ensure it doesn't interfere with interaction */
}

.owl-carousel .owl-item:not(.active)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20%; /* Start at the middle of the item */
  width: 20%; /* Cover half of the item */
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* Optional: Overlay for dim effect */
  filter: blur(5px); /* Apply blur */
  z-index: 1; /* Ensure it's above the item but below the active item */
  pointer-events: none; /* Ensure it doesn't interfere with interaction */
}


.owl-carousel .owl-dots .owl-dot {
  background: transparent; /* Transparent background */
  border: .1rem solid var(--color-primary) !important; /* Border using your primary color variable */
  border-radius: 50%; /* Make the dots circular */
  width: 1.2rem; /* Adjust size as needed */
  height: 1.2rem;
  display: inline-block;
  margin: .5rem; /* Space between dots */
  transition: background 0.3s ease, border-color 0.3s ease; /* Smooth transition */
  position: absolute;
  bottom: -4rem;
  left: 45%;
  right: 0;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: var(--color-primary); /* Filled with primary color on active */
  border-color: var(--color-primary); /* Border matches active background */
}


.owl-carousel .owl-dots .owl-dot:hover {
  background: rgba(0, 0, 0, 0.1); /* Slight hover effect */
  border-color: var(--color-primary);
}



.footer{
  position: relative;
  z-index: 1;
  background-color: var(--color-secondary);
  border-radius: 3rem 3rem 0px 0px;

  &_bottom{
    background: var(--color-primary);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &-a{
      font-family: "Inter", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 19.36px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #fff;
      display: flex;
      justify-content: center;
      margin: 0 auto;

      &:hover{
        transition: .2s all ease-in-out;
        text-decoration: none;
        color: var(--color-secondary);
        cursor: pointer;
      }
    }
  }
}




.fixphone {
  position: fixed;
  z-index: 10000 !important;
  bottom: 0;
  right: 5px;
  font-family: "Catamaran", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;

  @media only screen and (max-width: 990px) {
    display: none;
  }


  @media (max-width: 400px) {
    bottom: 0 !important;
    right: 0 !important;
  }

  .button {
    font-family: "Catamaran", sans-serif;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 13px 25px;
    border-radius: 15px;
    color: #fff;
    background-color: var(--color-primary);
    display: inline-block;
    border: unset;
    transition: all 0.5s;

    @media (max-width: 400px) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 9px;
    }

    &:hover {
      text-decoration: none;
      background: #fff;
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}

.underline {
  text-decoration: underline !important;
}


#fixphone {
  font-family: "Inter", sans-serif;
  position: fixed;
  bottom: 14%;
  right: 15px;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  z-index: 10000 !important;

  @media only screen and (max-width: 768px) {
    bottom: 3%;
  }
}

#fixphone:hover {
  background: rgba(0, 0, 0, 0);
  color: var(--color-primary);
  text-decoration: none;
}

.success-message {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: rgb(51, 200, 51);
}

.error-message {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: red;
}


.footer-logo {
  display: inline-block;
  margin-bottom: 25px;
  width: 80%;
}


.footer-logo img{
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.single-footer-widget p {
  line-height: 1.8;
  letter-spacing: 0.2px;
  font-family: 'Catamaran', sans-serif;
  margin-bottom: 15px;
  color: #ececec;
  font-size: 16px;
  font-weight: 400;
}

.footer-social {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-social li {
  display: block;
  margin-left: 7rem;
  margin-top: 2rem;
}

.footer-social i {
  color: var(--color-primary);
  font-size: 3rem;

  &:hover{
    transition: .2s all ease-in-out;
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
  }
}

.single-footer-widget .footer-heading {
  margin-bottom: 25px;
}

.single-footer-widget .footer-heading h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-primary);
}

.single-footer-widget .footer-quick-links {
  padding-left: 0;
  margin-bottom: 0;
}

.single-footer-widget .footer-quick-links li {
  color: #000;
  font-size: 1.6rem;
  margin: .7rem 0;

  @media only screen and (max-width: 990px) {
    padding-left: 2rem !important;
    list-style: inside;
  }
}

.single-footer-widget .footer-quick-links li a {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;

  &:hover{
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
  }
}

.single-footer-widget .footer-info-contact {
  padding-left: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-left: .5rem;
  list-style: inside;
  white-space: nowrap;
}

.single-footer-widget .footer-info-contact i {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.single-footer-widget .footer-info-contact h3 {
  line-height: 1.4;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.single-footer-widget .footer-info-contact span {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-left: .5rem;
}

.single-footer-widget .footer-info-contact span a {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-left: .5rem;
}


.gallery{

  &_image{
    background-color: #D9D9D9;
    width: 100%;
    height: 35rem;
    margin: 2rem 0
  }
}


.contact{

  &_header{

    &-title{
      font-family: "Playfair Display", sans-serif;
      font-size: 4.2rem;
      font-weight: 900;
      line-height: 45.36px;
      letter-spacing: -0.01em;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-primary)
    }
  }

  &_info{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    &-p{
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 50.4px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-primary);
    }

    
    &-a{
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 50.4px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-primary);

      &:hover{
        text-decoration: none !important;
        color: var(--color-primary) !important;
        cursor: pointer;
      }
    }
  }

  &_form{

    &-input{
      padding: 1.2rem !important;
      gap: .8rem !important;
      border-radius: 2rem !important;
      border: .1rem solid #0000001A !important;
      font-family: "Inter", sans-serif !important;
      font-size: 1.4rem !important;
      font-weight: 500 !important;
      line-height: 19.6px !important;
      text-align: left !important;
      text-underline-position: from-font !important;
      text-decoration-skip-ink: none !important;
      color: #979797 !important;
      background: transparent !important;
    }

    &-label{
      font-family: "Inter", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000;
    }

    &-button{
      width: 100%;
      background-color: var(--color-primary);
      padding: 1rem;
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 25.6px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #fff;
      border-radius: 3rem;
    }
  }

  &_image{
    background-color: var(--color-primary);
    border-radius: 3rem;
    padding: 10rem;

    &-img{
      width: 100%;
      max-width: 100%;
      height: 69.5rem;
      object-fit: cover;
      border: 1rem solid #FFFFFF;
    }
  }

  &_social{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 7rem;
    list-style: none;

    &-icon{
      color: var(--color-primary);
      font-size: 4rem;

      &:hover{
        color: var(--color-secondary);
        transition: .2s all ease-in-out;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

// Imports
@import "bootstrap";


.dropdown.active {
  a.dropdown-item{
    color: $body-color!important;
    &.active{
      color: $white!important;
    }
  }
}
